@import "../../common/general.scss";

.movile {
  background: white;
  padding: 10px;
  max-width: 300px;
  margin: 0px auto;
  &__message {
    color: black;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
  }
}


