body {
  margin: 0px;
  background: url('#{$ASSETS_URL}/general/diving_river.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.canvas__image {
  display: none;
}
